*{

margin :0;
padding: 0;
box-sizing: border-box;
}

main{

min-height: 100vh;
background: linear-gradient(to right top,#380367,#c993f4);
display: flex;
align-items:center;
justify-content: center;
}

.glass{
   /* background:white;*/
	min-height: 80vh;
	width: 60%;
	background:linear-gradient(to right top,rgba(255,255,255,0.6),rgba(255,255,255,0.2));
	border-radius: 3rem;
    z-index: 2;
    backdrop-filter:blur(1rem);
    display: flex;
}


h1{

	
	background: linear-gradient(to right top,#926f34,#f7ef8a);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	font-family: 'Great Vibes', cursive;
	font-size: 150px;
}

.slider{

	overflow: hidden;
	height: 400px;
	margin-top: 90px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 1rem;
	

}

.slider figure div {

float: left;
width: 20%;

}

.slider figure img{
    width: 100%;
	float: left;
}

.slider figure{

	position: relative;
	width: 500%;
    margin: 0px;
    left: 0;
    animation: 20s test infinite;
}

@keyframes test{

0%{
left: 0%;
}

10%{
left: 0%;

}

12%{
left:-100%;
}
22%{

left:-100%;
}
34%{

left:-200%;

}


36%{

left:-300%;

}

46%{

left:-300%;

}

48%{

left:-400%;

}

58%{

left:-400%;

}

}